<div ng-controller="mainController" class="main-content" layout="row" ng-cloak>
    <section layout="row" flex>
        <aside class="md-whiteframe-z2" ng-controller="asideMenuController" ng-init="user.nickname = '{{user.nickname}}'; user.email = '{{user.email}}'">
            <md-sidenav class="menu-sidenav md-sidenav-left" md-component-id="aside-menu" md-is-locked-open="$mdMedia('gt-md')">
                <md-toolbar class="site-content-toolbar menu-header">
                </md-toolbar>
                <md-toolbar class="menu-background">
                    {{#if user.avatar}}
                        <img src="img/users/{{user.avatar}}" alt="{{user.nickname}}" class="menu-avatar">
                    {{else}}
                        <img src="img/anonymous-face.png" alt="Serious Youth" class="menu-avatar">
                    {{/if}}
                    <div class="menu-info">
                        <h1 class="menu-nickname">{{user.nickname}}</h1>
                        <h2>{{user.email}}</h2>
                    </div>
                </md-toolbar>
                <md-content layout-padding>
                    <md-menu-content width="1">
                        <md-menu-item ng-repeat="item in ['Profile', 'Friends', 'Sign out']">
                            <md-button ng-click="redirect(item)">
                                [[item]]
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-content>
            </md-sidenav>
        </aside>
        <div layout="column" tabIndex="-1" role="main" flex>
            <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar main-header" ng-class="{isSearching: isSearching}">
                <div class="md-toolbar-tools">
                     <md-button class="md-icon-button menu" hide-gt-sm aria-label="Toggle Menu" ng-click="showSidenav()">
                        <md-icon md-svg-icon="img/menu.svg"></md-icon>
                    </md-button>
                    {{!-- Search form --}}
                    <md-button class="md-icon-button main-header-back" aria-label="Back" ng-click="back()">
                        <md-icon md-svg-icon="img/back.svg"></md-icon>
                    </md-button>
                    <input id="search-keyword" type="text" autocomplete="off" spellcheck="false" placeholder="Search" autofocus class="main-header-search-keyword">
                    {{!-- end Search form --}}
                    <div layout="row" flex class="fill-height">
                        <h2 class="md-toolbar-item md-breadcrumb md-headline brand-name">Serious Chat</h2>
                    </div>
                    <md-button class="md-icon-button main-header-search" aria-label="Search" ng-click="search()">
                        <md-icon md-svg-icon="img/search.svg"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content md-scroll-y flex layout-padding>
                <md-content class="md-default-theme chat">
                    <div class="chat-content">
                        {{!-- <div class="chat-post">
                            <img src="img/anonymous-face.png" alt="User" class="chat-avatar">
                            <span class="post-content">
                                <h4 class="post-nickname">Harry James</h4>
                                Color in material design is inspired by bold hues juxtaposed with muted environments, deep shadows, and bright highlights. Material takes cues from contemporary architecture, road signs, pavement marking tape, and athletic courts. Color should be unexpected and vibrant.
                            </span>
                        </div>
                        <div class="clear"></div>
                        <div class="chat-post">
                            <span class="post-content me">
                                Treehouse is where you go to learn HTML, CSS, and how to build iOS apps.
                            </span>
                        </div>
                        <div class="clear"></div>
                        <div class="chat-post">
                            <img src="img/anonymous-face.png" alt="User" class="chat-avatar">
                            <span class="post-content">
                                <h4 class="post-nickname">Harry James</h4>
                                Color in material design is inspired by bold hues juxtaposed with muted environments, deep shadows, and bright highlights.
                            </span>
                        </div>
                        <div class="clear"></div>
                        <div class="chat-post">
                            <span class="post-content me">
                                This color palette comprises primary and accent colors that can be used for illustration or to develop your brand colors. They’ve been designed to work harmoniously with each other.
                            </span>
                        </div>
                        <div class="clear"></div> --}}
                        <message ng-repeat="message in messages"
                                avatar="[[message.user.avatar]]"
                                nickname="[[message.user.nickname]]"
                                isme="[[message.user.isme]]"
                                content="[[message.content]]"/>
                    </div>
                </md-content>
            </md-content>
            <div class="chat-box">
                <textarea name="chat-box" ng-model="message" placeholder="Write a message..." ng-enter="sendMessage()">
                </textarea>
                <div class="chat-toolbar">
                    <md-button class="md-icon-button" aria-label="Emotion">
                        <md-icon md-svg-icon="img/face.svg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Send" ng-click="sendMessage()">
                        <md-icon md-svg-icon="img/send.svg"></md-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </section>
</div>
